<%= render 'users/shared/up'%>

<h1> Editar comentario </h1>

<p> <%= notice %> </p>

<%= form_with(model: @comentario, method: :patch, url: comentario_update_path(@comentario.id)) do |form| %>

    <div class='field'>
        <%=form.label :servicio%>
        <%=form.text_field :servicio%>
    </div>

    <div class='field'>
        <%=form.label :usuario%>
        <%=form.text_field :usuario%>
    </div>

    <div class='field'>
        <%=form.label :contenido%>
        <%=form.text_field :contenido%>
    </div>

    <div class='field'>
        <%=form.label :fecha_hora%>
        <%=form.text_field :fecha_hora%>
    </div>

    <div class='action'>
        <%=form.submit%>
    </div>


<% end %>