<%= render 'users/shared/up'%>

<section class="hero is-fullheight is-link">
  <div class="hero">

<p> <%= notice %> </p>

<h1 class="title is-1">Comentarios de <%= @servicio.nombre %></h1>

<div class="columns is-multiline">
    <div class="column is-two-quarter">
    <div class="card">
    <div class="card-content">
    <div class="media">
    <div class="media-content">
    <% @comentarios.each do |comentario|%>
    <div>
        <% if comentario.servicio.id == @servicio.id %>
        <% if current_user %>
        <div class="media">
        <div class="media-content">
        <a class="title is-5" style="color: red"><%= comentario.user.username %>:</a>
        <a class="title is-5" style="color: black"><%= comentario.contenido %> </a><br>
        <a class="title is-7" style="color: black"><em><%= comentario.created_at %></a>
        </div>
        <% if current_user == comentario.user or current_user.tipo == 'Administrador' %>
        <%= link_to "Eliminar comentario", comentario_path(comentario.id), method: :delete %>
        <%end%>
        </div>
        <% end %>
        <% end %>
    </div>
    <% end %>
    <%= form_with(model: @comentario, method: :post, url: comentarios_path) do |form| %>

        <div class="field">
            <%= form.hidden_field :servicio, value: @servicio.id%>
        </div>
        <div class="field">
            <%=form.text_field :contenido, :size=>"195" %>
        <div class='action'>
            <%=form.submit%>
        </div>
        </div>
    <% end %>
</div>
</div>
        </div>
</div>
  </div>
      </tr>
<% if current_user %>
<% else%>
<p>a No estas conectado, entonces no puedes ver los Comentarios </p>
<% end %>
</div>
<%= link_to 'Volver al Servicio', servicio_seleccionado_path(@servicio.id), {:style=>'color: white;', :class => "button is-link"} %>
  </div>
</section>
