<%= render 'users/shared/up'%>

<h1> Nuevo comentario para <%=@servicio.nombre%></h1>

<p> <%= notice %> </p>

<%= form_with(model: @comentario, method: :post) do |form| %>


    <div class="field">
        <%= form.hidden_field :servicio, value: @servicio.id%>
    </div>
    <div class='field'>
        <%=form.label :contenido%>
        <%=form.text_field :contenido%>
    </div>

    <div class='action'>
        <%=form.submit%>
    </div>


<% end %>

<p>
  <%= link_to "Volver al listado de Mis Comentarios", comentarios_id_path(@servicio.id) %>
</p>