<%= render 'users/shared/up'%>
<br><br>
<div class="columns is-mobile is-centered">
        <div class="col-is-one-thrid">
        <div class="card" style="background-color:white">
        <div class="card-content">
      <div class="media">
        <div class="media-content">
     <div class="card-title"><h1 class="title is-2" style="color: black"> Agregar</h1></div>
    <div class="card-body">
    <br>

<%= form_with(model: @user, method: :patch, url: users_add_money_path)  do |form| %>

    <div class="field">
        <%=form.label :dinero,  style: "color:black"%>
        <%=form.number_field :dinero,{min: 0, value: 0}%>
    </div>

    <div class="action">
        <%=form.submit%>
    </div>
<% end %>
</div>
</div>
  </div>
  </div>
  </div>
  <%= link_to "Volver al listado de Servicios", users_show_path, {:style=>'color: white;', :class => "button is-link"} %>
  </div>
