<%= render 'users/shared/up'%>
<br><br>
<div class="columns is-mobile is-centered">
        <div class="col-is-one-thrid">
        <div class="card" style="background-color:white">
        <div class="card-content">
      <div class="media">
        <div class="media-content">
    <div class="card-body">
    <br>
<p> <%= notice %> </p>
<h1 class="title is-1" style="color: black">Log In                       </h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
  <h1 class="title is-4" style="color: black">Email</h1>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <h1 class="title is-4" style="color: black">Contraseña</h1>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

</div>
  </div>
  </div>
  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to "Sign up", new_registration_path(resource_name) %><br />
  <% end %>
  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
  <% end %>
</div>
</div>
</div>
