<%= render 'users/shared/up'%>

<p> <%= notice %> </p>
<br><br>
<div class="columns is-mobile is-centered">
        <div class="col-is-one-thrid">
        <div class="card" style="background-color:white">
        <div class="card-content">
      <div class="media">
        <div class="media-content">
     <div class="card-title"><h1 class="title is-2" style="color: black">Crear Nueva Comuna</h1></div>
    <div class="card-body">
    <br>
<%= form_with(model: @comuna, method: :post) do |form| %>

    <div class="field">
        <%=form.label :nombre%>
        <%=form.text_field :nombre%>
    </div>

    <div class="action">
        <%=form.submit%>
    </div>
<% end %>
</div>
  </div>
  </div>
  </div>
  </div>
  <%= link_to "Volver al listado de Comunas", comunas_index_path, {:style=>'color: white;', :class => "button is-link"} %>
</div>
</div>
