<%= render 'users/shared/up'%>

<h1>Editar Valoracion de <%=@valoracion_servicio.servicio.nombre%></h1>

<p> <%= notice %> </p>

<%= form_with(model: @valoracion_servicio, method: :patch, url: valoracion_servicio_patch_path(@valoracion_servicio.id)) do |form| %>

    <div class="field">
        <%=form.label :puntuacion%>
        <%=form.number_field :puntuacion, {min: 0, max: 10}%>
    </div>

    <div class="field">
        <%= form.hidden_field :servicio, value: @valoracion_servicio.servicio.id%>
    </div>
    <div class="action">
        <%=form.submit%>
    </div>
<% end %>
